@import './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //This defines 1rem (10px) 62,5% of initial 16px
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ececec;
}

.header {
  background-color: #0b0069;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #353434;
}

.nav {
  display: flex;
  align-items: center;

  &__logo {
    width: 3%;
    margin-left: 2.5rem;

    @include respond(phone) {
      width: 8%;
    }
  }

  &__text {
    color: #fff;
    margin-left: 1rem;
    font-size: 2rem;
  }
}

.info-section {
  display: flex;
  justify-content: space-between;
  background-color: #0b0069;
  padding: 10rem 0 14rem 0;
  color: #e7e7e7;

  @include respond(tab-land) {
    flex-direction: column;
  }

  @include respond(phone) {
    padding: 3rem 0 10rem 0;
  }
}

.covid-info {
  width: 50%;
  padding: 2rem 3rem;

  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(phone) {
    text-align: center;
  }

  &__heading {
    font-size: 3.5rem;
    padding: 2rem 0;

    @include respond(phone) {
      font-size: 2.8rem;
    }
  }

  &__span {
    font-weight: bold;
  }

  &__paragraph {
    font-size: 2rem;
    padding: 2rem 0 3rem 0;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
}

.btn {
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 1.1rem;
  color: white;

  &--primary {
    background-color: #af0303;
    border: 0.1rem solid #fff;
  }

  &--secondary {
    background-color: #0b0069;
    margin-left: 1rem;
    text-transform: uppercase;
    border: 0.1rem solid #fff;
  }

  &:hover {
    transform: translateY(0.2rem);
    box-shadow: 5px 4px 19px -1px rgba(255, 255, 255, 0.64);
  }

  &:focus {
    outline: none;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  @include respond(tab-land) {
    margin: 0 auto;
    margin-top: 5rem;
  }

  &__img {
    width: 50%;
    max-height: 100%;
    animation: spin 30s infinite linear;

    @include respond(tab-land) {
      width: 50%;
    }
  }
}

.primary-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 0 auto;
  margin-top: -5rem;
  padding: 5rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.64);

  @include respond(phone) {
    flex-wrap: wrap-reverse;
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(phone) {
    margin-bottom: 2rem;
  }

  &__img {
    width: 20%;

    @include respond(tab-land) {
      margin-top: 4rem;
    }

    @include respond(tab-port) {
      margin-top: 2rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-top: 2rem;

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__stats {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

.secondary-stats {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  margin-top: 10rem;

  @include respond(tab-port) {
    flex-direction: column;
    margin-top: 5rem;
  }
}

.secondary-stats-container-left {
  align-items: center;
  background-color: #fff;
  width: 70%;
  padding: 5rem 2rem;
  box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.24);

  @include respond(tab-port) {
    width: 100%;
  }
}

.heading-tertiary {
  text-align: center;
  padding: 2rem 0 5rem 0;
  font-size: 2rem;
}

.card-container-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-stats {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin: 4rem 3rem;
  padding: 5rem 2rem 2rem 2rem;
  color: #fff;

  @include respond(tab-land) {
    width: 30%;
  }

  @include respond(phone) {
    width: 65%;
  }

  &__img {
    position: absolute;
    width: 5rem;
    top: -2.5rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__stats {
    text-align: center;
    font-size: 2rem;
  }

  &__description {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  &--cases {
    background-color: #006e40;
  }

  &--deaths {
    background-color: #1e699b;
  }

  &--intensive {
    background-color: #460c88;
  }

  &--cases-mil {
    background-color: #5906b8;
  }

  &--deaths-mil {
    background-color: #0f3650;
  }

  &--active {
    background-color: #3b928b;
  }
}

.secondary-stats-container-right {
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 0.2rem solid rgb(187, 187, 187);
  box-shadow: 13px 4px 19px -1px rgba(0, 0, 0, 0.24);

  @include respond(tab-port) {
    width: 100%;
    margin-top: 5rem;
    border: none;
  }
}

.input {
  width: 90%;
  padding: 1rem 0 1rem 0.8rem;
  margin-top: 2rem;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  outline: none;
}

.container-countries {
  width: 90%;
  overflow-y: scroll;
  height: 65rem;
  padding: 0 2rem;
}

.country-card {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
  padding: 1.5rem 0;
  margin-top: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;

  &__img {
    width: 15%;
    margin-left: 2rem;
    cursor: pointer;

    @include respond(tab-port) {
      width: 10%;
    }
  }

  &__paragraph {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.covid-spread {
  margin: 0 auto;
  padding: 20rem 0;

  @include respond(tab-port) {
    margin-top: 0;
    padding: 5rem 0;
  }

  &--symptoms {
    background-color: #f8f8f8;
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 20%;
  margin-top: 10rem;
  border-radius: 2rem;
  padding: 3rem 3rem 5rem 3rem;
  box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.24);

  @include respond(tab-land) {
    width: 30%;
  }

  @include respond(phone) {
    width: 90%;
    margin-top: 2rem;
  }

  &__img {
    width: 20%;
    padding: 2rem 0;
  }

  &__heading {
    font-size: 2rem;
    padding: 2rem 0;
    text-align: center;
  }

  &__paragraph {
    font-size: 1.5rem;
    text-align: center;
  }
}

.precautions {
  background-color: #fff;
  padding: 20rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #0b0069;
  padding: 20rem 2rem;
  color: #fff;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 50%;

  @include respond(phone) {
    width: 70%;
  }

  &__img {
    width: 10%;
    cursor: pointer;
    transition: all 0.2s ease-in;

    @include respond(tab-port) {
      width: 20%;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.credits {
  text-align: center;
  margin-top: 10rem;

  &__link {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(359deg);
  }
}
