@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //This defines 1rem (10px) 62,5% of initial 16px
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ececec;
}

.header {
  background-color: #0b0069;
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid #353434;

  &__logo-container {
    display: flex;
    align-items: center;
    margin-left: 4rem;
  }

  &__logo-img {
    width: 3%;
  }

  &__logo-text {
    color: #fff;
    margin-left: 1rem;
    font-size: 2rem;
  }
}

.section-info {
  display: flex;
  justify-content: space-between;
  background-color: #0b0069;
  padding: 10rem 0 14rem 0;
  color: #e7e7e7;

  &__container-left {
    width: 50%;
    padding: 0 4rem;
  }

  &__heading {
    font-size: 3.5rem;
    padding: 2rem 0;
  }

  &__paragraph {
    font-size: 2rem;
    padding: 2rem 0 3rem 0;
  }

  &__btn {
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translateY(0.2rem);
      box-shadow: 5px 4px 19px -1px rgba(255, 255, 255, 0.64);
    }

    &--red {
      background-color: rgb(175, 3, 3);
      padding: 1.1rem;
      border: none;
      border: 0.1rem solid #0b0069;
    }

    &--neutral {
      background-color: #0b0069;
      padding: 1rem;
      border: 0.1rem solid #fff;
      margin-left: 1rem;
      text-transform: uppercase;
    }
  }

  &__container-right {
    width: 50%;
  }

  &__img {
    display: block;
    margin: auto;
    width: 50%;
    animation: spin 30s linear infinite;
  }
}

.stats-overview {
  display: flex;
  justify-content: space-around;

  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 0 auto;
  margin-top: -5rem;
  padding: 5rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.64);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 20%;
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  &__stats {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  max-height: 800px;
  margin-top: 10rem;
  margin-bottom: 50rem;

  &__container-left {
    background-color: #fff;
    width: 70%;
    padding: 2rem;
    box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.64);
  }

  &__heading {
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0;
  }

  &__box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 5rem;
    margin-top: 3rem;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: #006e40;
    margin: 4rem 3rem;
    padding: 5rem 2rem 2rem 2rem;
    color: #fff;

    &--deaths {
      background-color: #1e699b;
    }

    &--intensive {
      background-color: #5906b8;
    }

    &--cases-mil {
      background-color: #5906b8;
    }

    &--deaths-mil {
      background-color: #1e699b;
    }
  }

  &__img {
    position: absolute;
    width: 30%;
    top: -2rem;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__stats {
    text-align: center;
    font-size: 3rem;
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  &__container-right {
    width: 25%;
    background-color: #fff;
    box-shadow: 5px 4px 19px -1px rgba(0, 0, 0, 0.64);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  padding: 2rem 0;
  overflow-y: scroll;

  &__input {
    width: 90%;
    padding: 1rem 0 1rem 0.8rem;
    border: 0.1rem solid rgb(211, 211, 211);
    border-radius: 0.5rem;
    outline: none;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__country-box {
    display: flex;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #cfcfcf;
    cursor: pointer;
  }

  &__country-img {
    width: 15%;
  }

  &__country-paragraph {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
